<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.oranmoshe.finalmobileproject" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".DatabaseParse"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="vCmNibaQkBbc2met0sY6FcuQXEVo4zpSNoqIQDev" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="hJHALtXna8ioAfdK75xeaKErYB8p6ESoIR4J9FnK" />

        <activity
            android:name=".MainLogin"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivityCreateManager"
            android:label="@string/title_activity_main_activity_create_m" >
        </activity>
        <activity android:name=".MainActivityCreateTeam" >
        </activity>
        <activity
            android:name=".CreateNewTask"
            android:label="@string/title_activity_create_new_task"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".TasksList" >
        </activity>
        <activity android:name=".TaskView" >
        </activity>
        <activity android:name=".AddUser" >
        </activity>
        <activity android:name=".LocalActivity" >
        </activity>
        <activity
            android:name=".Manager"
            android:label="@string/title_activity_manager"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".UserTasks" >
        </activity>
        <activity android:name=".TaskEdit" >
        </activity>
    </application>


</manifest>
